:root


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  height: 100vh;
}

.debug{
  background-color: rgb(255, 221, 127);
  border: 1px solid black;

}


.wrapper{
  background:linear-gradient(#099688 10%, #D6DBD8 10%);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}


.container{
  height: 90%;
  width: 1300px;
  margin: 0 auto;   
}




.flexed{
  display: flex;
}

.between{
  justify-content: space-between;
}

.column{
  flex-direction: column;
}

img{
  margin: 50px;
  max-width: 100%;
  /* height: 100%; */
  width: 60px;
  border-radius: 50%;
  
}

/* UTILITIES  */

.row{
  width: 100%;
  height: 100%;
  
}



/* LEFT COL  */

.left-col{
  width: 30%;
  max-height: 100%;
  border-right: 1px solid #afafaf;
  
}

.scroll{
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  
}



.top-l-bar{
  background-color: #e9e9e9;
  padding: 5px;
}

.action{
  margin-left: auto;    
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  font-size: 1.2rem;
  color: #afafaf;
}


.notification{
  background-color: #9ed7f8 ;
  align-items: center;
}

.not-off{
  background-color: white;
  margin: 15px 10px;
  padding-top:18px;
  width: 60px;
  height:60px;
  text-align: center;
  border-radius: 50%;
  color: #9ed7f8;

}

.find{
  padding: 10px;
}

.card{
  padding: 5px;
}


.avatar{
  margin:7px
}


.text-not{
}

.find{
  background-color: #e9e9e9;
  /* height:5%;  */
}


.contact-box{
  border-top: 1px solid #f5f5f5;
  background-color: #fff;
  align-items: center;
  padding: 5px; 
}

.chat-list{
  overflow-y: scroll;


}

.hours {
  margin-left: auto;
  font-size: 0.8rem;
  margin-right: 0.8rem;
  color: #a0acaa;
}


.text-card{
  margin-left: 8px;
  line-height: 22px;
}

.text-card p{
  color: #b2b5b7;
}




/* RIGHT COL  */

.right-col{
  width: 72%; 
  /* height: 100%; */
}

.top-r-bar{
  /* height:10%; */
  background-color: #e9e9e9;
  padding: 5px;
  align-items: center;

}

.top-r-bar p{
  color: black;
  padding-top: 5px;

}

/* MAIN CHAT  */

.main-chat{
  background-image: url(../img/mine.jpg);
  background-repeat: repeat;
  height: 80%;
  /* margin: ; */
}

.message-box {
  padding: 2rem 3rem;
  overflow-y: scroll;
  height: 100%;    
}

.received , .send {
  border-radius: 1rem;
  padding: 1rem 0.7rem;
  display: flex;
  margin-bottom: rem;
  max-width: 50%;
  position: relative;
}

.send {
  background-color: #dbf8be;    
  margin-left: auto ;
}



.received  {
  background-color: white;     
}

.opt-chat {
  position: absolute;
  right: 0.8rem; ;
  top: 2rem;    
  /* height: fit-content; */
  background-color: white;
  line-height: 2rem;
  box-shadow: 3px 3px 3px 3px #C8CAC6;
  display: none;
  
}

.opt:hover .opt-chat {
  display: inline-block; 
  padding: 10px;
}

.opt-chat div:hover {
  background-color: #C8CAC6;
  cursor: pointer;
  
}


.bot-r-bar{
  /* height: 10%; */
  background-color: #f2eeea;
  padding: 5px;

}

.opt p{
font-size: .7rem;
color: #b2b5b7;
}

.fa-chevron-down{
  color: #b2b5b7;

}

.write-box {    
  display: flex;
  justify-content: space-between;
  height: 100%; 
}

.emoticon , .rec {
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;    
  font-size: 1.5rem;
  color: #4e585e;
}

.input-message {
  height: 80px ;  
  display: flex;
  align-items: center;
  width: 80%;
}
  
.input-message input {
  border-radius: 10px; 
  width: calc(100%);
  padding: 5px;
  height: 80%;
  border: none;   
}


/* MAIN BOX  */

